In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
# Full path to the CSV
file_path = '/home/uwabor/Downloads/housing_brazil_1.csv'

# Read the file
df = pd.read_csv(file_path)

# View the first few rows
df.head()

,property_type,state,region,lat,lon,area_m2,price_brl
0,apartment,Pernambuco,Northeast,-8.134204,-34.906326,72.0,414222.98
1,apartment,Pernambuco,Northeast,-8.126664,-34.903924,136.0,848408.53
2,apartment,Pernambuco,Northeast,-8.125550,-34.907601,75.0,299438.28
3,apartment,Pernambuco,Northeast,-8.120249,-34.895920,187.0,848408.53
4,apartment,Pernambuco,Northeast,-8.142666,-34.906906,80.0,464129.36